<%= form_with(model: sy_service, local: true) do |form| %>
  <% if sy_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sy_service.errors.count, "error") %> prohibited this sy_service from being saved:</h2>

      <ul>
      <% sy_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"客户" %>

    <select  placeholder='选择.....'   name="sy_service[app_id]"  data-parsley-required class='form-control custom-select-sm select2'  id='select_province_ids'   data-parsley-trigger='keyup' >

      <% Sy::App.all.each do  |app| %>
        <option value="<%=  app.id %>"><%=  app.name %>(<%=  app.abbr %>)</option>
      <% end %>
    </select>

    <%#= f.search_field :project_cont, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :"设备SN" %>
    <%= form.text_field :name , required:true %>
  </div>

  <div class="field">
    <%= form.label :"设备UID" %>
    <%= form.text_field :abbr, required:true %>
  </div>

  <div class="field">
    <%= form.label :"是否试用" %>
    <%= form.check_box :is_open %>
  </div>

  <div class="field">
    <%= form.label :"备注" %>
    <%= form.text_field :remark %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
