<p id="notice"><%= notice %></p>

<h1><a href="/sy/services/new">新建设备</a></h1>

<div>
  <%= search_form_for @q do |f| %>
    <div class="tools_search">
      <strong>客户:</strong>
      <input name="q[app_id_eq]" list="tool_project" placeholder="请选择客户" autocomplete="off" class='form-control'/>
      <datalist id="tool_project" autocomplete="off">
        <% Sy::App.all.each do  |app| %>
          <option value="<%=  app.id %>"><%=  app.name %>(<%=  app.abbr %>)</option>
        <% end %>
      </datalist>
      <%= f.search_field :name_cont, class:'form-control', placeholder: "搜索SN" %>
      <%= f.search_field :abbr_cont, class:'form-control', placeholder: "搜索UID"  %>
    </div>

    <button type="submit" id="reply-button" style="height:38px;" class="btn btn-success" data-disable-with="搜索">搜索</button>

    <%= link_to '刷新', sy_services_path, class:"", 'data-disable-with' => "doing"%>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th width="20%">客户</th>
      <th width="20%">设备SN</th>
      <th width="20%">设备UID</th>
      <th width="20%">备注</th>
      <th width="20%">更新于</th>
      <th width="5%">-</th>
    </tr>
  </thead>

  <tbody>
    <% @sy_services.each do |sy_service| %>
      <tr>
        <td><%= sy_service.app.name rescue '' %>(<%= sy_service.app.abbr rescue '' %>)</td>
        <td><%= sy_service.name %></td>
        <td><%= sy_service.abbr %></td>
        <td><%= sy_service.remark %></td>
        <td><%= sy_service.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to 'Edit', edit_sy_service_path(sy_service) %></td>
        <!-- <td><%= link_to 'Destroy', sy_service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @sy_services %>


