<p id="notice"><%= notice %></p>

<h3><a href="/sy/alarms">异常上报</a></h3>

<div>
  <%= search_form_for @q do |f| %>
    <div class="tools_search">
      <strong>eventCode:</strong>
      <%= f.search_field :service_id_eq, class:'form-control' %>
    </div>
    <button type="submit" id="reply-button" style="height:38px;" class="btn btn-success" data-disable-with="搜索">搜索</button>

    <%= link_to '刷新', sy_alarms_path,  'data-disable-with' => "doing"%>
  <% end %>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>时间</th>
      <th>设备名</th>
      <th>eventAudioURL</th>
      <th>eventCode</th>
    </tr>
  </thead>

  <tbody>
    <% @sy_alarms.each do |sy_alarm| %>
      <tr>
        <td><%= link_to "View: #{sy_alarm.alarm_at.strftime('%Y-%m-%d %H:%M:%S') rescue''}", sy_alarm_path(sy_alarm) %></td>
        <td><%= sy_alarm.reason[:videoIP] %></td>
        <td><%= sy_alarm.reason[:eventAudioURL] %></td>
        <td><%= sy_alarm.service_id rescue '' %></td>

        <!-- <td><%= link_to 'Edit', edit_sy_alarm_path(sy_alarm) %></td>
        <td><%= link_to 'Destroy', sy_alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @sy_alarms %>
