<p id="notice"><%= notice %></p>

<h1><a href="/sy/infos">心跳数据</a></h1>


<div>
  <%= search_form_for @q do |f| %>
    <div class="tools_search">
      <%= f.search_field :reason_cont, class:'form-control' , placeholder: "设备ip" %>
    </div>

    <button type="submit" id="reply-button" style="height:38px;" class="btn btn-success" data-disable-with="搜索">搜索</button>

    <%= link_to '刷新', sy_infos_path, class:"", 'data-disable-with' => "doing"%>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>时间</th>
      <th>设备IP</th>
    </tr>
  </thead>

  <tbody>
    <% @sy_infos.each do |sy_info| %>
      <tr>
        <td><%= sy_info.created_at.strftime('%Y-%m-%d %H:%M:%S') rescue'' %></td>
        <td><%= sy_info.reason %></td>
        <!-- <td><%= link_to 'Edit', edit_sy_info_path(sy_info) %></td>
        <td><%= link_to 'Destroy', sy_info, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @sy_infos %>


