<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @sy_info.service_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @sy_info.state %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @sy_info.send_at %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @sy_info.reason %>
</p>

<%= link_to 'Edit', edit_sy_info_path(@sy_info) %> |
<%= link_to 'Back', sy_infos_path %>
