<p id="notice"><%= notice %></p>

<h1> Monitor Info</h1>

<div>
  <%= search_form_for @q do |f| %>
  <div class="tools_search">
    <strong>Host:</strong>
    <%= f.search_field :file_cont, class:'form-control' %>
  </div>
  <button type="submit" id="reply-button" style="height:38px;" class="btn btn-success"
    data-disable-with="搜索">搜索</button>

  <%= link_to '刷新', bz_versions_path, class:"", 'data-disable-with' => "doing"%>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Version</th>
      <th>Data</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bz_versions.each do |bz_version| %>
      <tr>
        <td>
        <%= link_to "#{bz_version.file}", bz_version %> 
        </td>
        <td><%= bz_version.version %></td>
        <td><%= bz_version.remark %></td>
        <td><%= bz_version.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to 'Edit', edit_bz_version_path(bz_version) %></td>
        <!-- <td><%#= link_to 'Destroy', bz_version, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @bz_versions %>

<%= link_to 'New Bz Version', new_bz_version_path %>
