<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cloumn_down.name %>
</p>

<p>
  <strong>Result:</strong>
  <%= @cloumn_down.result %>
</p>

<%= link_to 'Edit', edit_cloumn_down_path(@cloumn_down) %> |
<%= link_to 'Back', cloumn_downs_path %>
