<p id="notice"><%= notice %></p>

<h3><a href="/sy/apps/new" class="ml-auto">新建客户</a></h3>


<div>
  <%= search_form_for @q do |f| %>
    <div class="tools_search">
      <%= f.search_field :name_cont, class:'form-control', placeholder: "搜索客户名" %>
      <%= f.search_field :abbr_cont, class:'form-control', placeholder: "搜索简称" %>
    </div>

    <button type="submit" id="reply-button" style="height:38px;" class="btn btn-success" data-disable-with="搜索">搜索</button>

    <%= link_to '刷新', sy_apps_path, class:"", 'data-disable-with' => "doing"%>

  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th> 客户名称</th>
      <th>简称</th>
      <th>创建于</th>
      <th>-</th>
    </tr>
  </thead>

  <tbody>
    <% @sy_apps.each do |sy_app| %>
      <tr>
        <td><%= sy_app.name rescue'' %></td>
        <td><%= sy_app.abbr %></td>
        <td><%= sy_app.created_at.strftime('%Y-%m-%d %H:%M:%S') rescue'' %></td>
        <td><%= link_to 'Edit', edit_sy_app_path(sy_app) %></td>
        <!-- <td><%= link_to 'Destroy', sy_app, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @sy_apps %>

