<p id="notice"><%= notice %></p>

<h1>Lc Carriages</h1>

<table>
  <thead>
    <tr>
      <th>Train</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lc_carriages.each do |lc_carriage| %>
      <tr>
        <td><%= lc_carriage.train_id %></td>
        <td><%= link_to 'Show', lc_carriage %></td>
        <td><%= link_to 'Edit', edit_lc_carriage_path(lc_carriage) %></td>
        <td><%= link_to 'Destroy', lc_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lc Carriage', new_lc_carriage_path %>
